html, body{
	height: 100%;
	padding: 10px;
}
#map{
	height: 90%;
	border-radius: 20px;
}
#inputBox {
	margin: 10px 0 10px 30px;
	padding: 0 10px;
	width: 400px;
	font-family: Calibri;
	font-size: 15px;
}